/*
Colors used: 
background color: Light green #edf3e8
Primary color: Light orange #f1e5d2
Secondary color: Maroon #6b3f3f
Blue for hyperlinks: #7d85ce
Burnt orange for active: #9e5919
Button color: #545454 & #f1e5d2

Typography: Oswald : Weight 300,400,600

*/
header {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
    -webkit-box-shadow: 0px 6px 11px 1px
    rgba(217,187,143,0.62);
    -moz-box-shadow: 0px 6px 11px 1px
    rgba(217,187,143,0.62);
    box-shadow: 0px 6px 11px 1px rbga(217,187,143,0.62);
}
main {
    padding-top: 150px;
}
body {
    background-color: #f5e3bf;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color:#545454;
    max-width: 100%;
    position: relative;
}
p {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
}
h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 600
}
h2 {
    font-size:2.25em;
    Font-weight: 600;
}
h3 {
    font-size:1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}

/* Images */

img {
    width: 100%;
}
.logo {
    max-width: 150px;
    text-transform: uppercase;
}

/* Buttons */

.button {
    display: inline-block; 
    background-color:#f8eac7;
    color: #e8b563; /*need to override the default color*/
    font-weight: 400;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 2px solid #e8b563; /*border width type and color*/
    transition-duration: 0.5s;
}
.button:hover {
    opacity: 0.8; /*reduces opacity to 80% */
}
.button:active {
    color:#f1e5d2
}
.button.contact {
    background-color:#f1e5d2 ;
    color:#a67373;
    text-decoration: underline;
    border: 2px solid #a47777;
    transition-duration: 0.5s;
}
.button.contact:hover {
    background-color:#fceddf;
    color: #7d85ce;
    opacity: 0.5;
}
.button.contact:active {
    color:#9e5919;
}

/* Layout styling */
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.center {
    text-align: center;
}
* {
    box-sizing: border-box;
}

/* Navigation */

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color:#6b3f3f;
}
nav > ul > li > a {
    color: #e5b0b0;
    text-decoration: none; /*no underlining*/
}
nav > ul > li > a:hover {
    color: #333550;
    text-decoration: underline; /*underlined when hovering*/
}
nav > ul > li > a:visited { 
    color: #49506d /*visited link */
}
nav > ul > li > a:active {
    color:#9e5919
}
nav > ul {
    margin: 1em 0;
} 
nav > ul > li > a:hover,
nav > ul > li > a:focus {
    color: #7d85ce;
    text-decoration: underline;
}
.navtoggle li:not(:last-child) {
    display: none;
}
/* Responsive navigation */
.navtoggle, .navtoggle.responsive {
    position: relative;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(217,187,143,0.62);
}
.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}
.navtoggle.responsive nav {
    padding: 24px 0 0;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding-right: 0;
}
#work {
    color:#545454;
    background-color:#ffffff
}
#contact.me {
    color:#545454;
}
#hero {
    color:#545454;
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#hero span {
    display: inline-block;
    background-color: rgb(239, 217, 207);
    opacity: 0.8;
}
#work .row {
    padding-bottom: 25px;
}
footer {
    color: #545454;
    background-color: #ffffff;
    text-align: center;
}
.social-icons img {
    height: 40px;
    width: 40px;
}
#about {
    background-color: #ffffff;
    position: relative;
    color: #545454;
}
#olive {
    color: #545454;
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    position: relative;
}

svg {
    width: 250px;
    max-width: 250px;
    height: auto;
}
#path22 {
    animation-duration: 1s;
    animation-name: color;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
#path66 {
    animation-duration: 1s;
    animation-name: color;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.icon {
    color: rgb(28, 107, 108);
}




@keyframes color {
    from {fill: #549e5c;}
    to {fill: rgb(237, 230, 19)}
    }


/* Medium devices (640px or larger) */
@media only screen and (min-width: 641px) {
[class*="col-"] {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
}
.navtoggle li:not(:last-child) {
    display: inline-block;
} 
.navtoggle li:last-child {
    display: none;
}
nav > ul > li {
    display: inline-block;
}
.navtoggle.responsive li{
    padding: 0;
    margin: 0;
    border-top: 0;
}
.navtoggle.responsive nav{
    padding: 0;
}
picture {
    width: 100%;
    max-width: 100%;
    height: auto;
}
header {
    text-align: unset;
    padding: 20px 0 13px;
}
nav {
    display: inline;
    width: auto;

}
main {
    min-width: 641px;
    max-width: 100%;
    padding-top: 99px;
}
.col-md-6 {
    width: 50%;
}
.col-md-12 {
    width: 100%;
}
#about-page h3 {
    margin-top: 0;
}
img.logo {
    min-width: 250px;
}
.continer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}


/*Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
body {
    font-size: 18px;
}
.col-lg-7 {
    width: 58.33%;
}
.col-lg-5 {
    width: 41.66%;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
}
.continer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}


